<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Properties>
        <Property name="profile">${env:SPRING_PROFILES_ACTIVE}</Property>
    </Properties -->

    <!-- Define stack trace filters -->
    <Filter type="StackTraceElementFilter">
        <Filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </Filter>
        <Packages>java.util.concurrent, org.apache.tomcat, org.apache.coyote, org.apache.catalina, org.springframework.web</Packages>
        <OnMatch>DENY</OnMatch>
        <OnMismatch>NEUTRAL</OnMismatch>
    </Filter>

    <!-- JSON Console Appender -->
    <Appenders>
        <Console name="stdout_json" target="SYSTEM_OUT">
            <JSONLayout complete="false"
                        eventEnder=""
                        compact="true"
                        stacktraceElementFilterRef="stackTraceFilter"
                        additionalFields="threadName=%thread, level=%level, loggerName=%logger, message=%message">
                <KeyValuePair key="timestamp" value="%date"/>
                <KeyValuePair key="thread" value="%thread"/>
                <KeyValuePair key="level" value="%level"/>
                <KeyValuePair key="logger" value="%logger"/>
                <KeyValuePair key="message" value="%message"/>
                <KeyValuePair key="stacktrace" value="%exception"/>
            </JSONLayout>
        </Console>
    </Appenders>

    <!-- Conditional logging based on profile -->
    <Loggers>
        <!-- For 'nais' profile -->
        <if condition="${profile} == 'nais'">
            <then>
                <Root level="info">
                    <AppenderRef ref="stdout_json"/>
                </Root>
            </then>
        </if>

        <!-- For 'local' profile -->
        <if condition="${profile} == 'local'">
            <then>
                <!-- Include Spring Boot's base Log4j2 configuration -->
                <include resource="org/springframework/boot/logging/logback/base.xml"/>
                <!-- Set logger level for specific package -->
                <Logger name="no.nav.oebs.nom" level="info"/>
            </then>
        </if>
    </Loggers>
</Configuration>
